{% extends 'base.html' %}

{% block content %}
    <p><span class="text-muted">Name:</span> {{ object.name }}</p>
    <p><span class="text-muted">Cities:</span>
        {% for city in cities %}
            <a href="{% url 'city' city.pk  %}">{{ city }}</a>
        {% endfor %}
    </p>
    {% if perms.country.change_country %}
        <p><a href="{% url 'country_edit' object.pk %}" class="btn btn-default">Edit</a></p>
    {% endif %}
    {% if perms.country.delete_country %}
        <p><a href="{% url 'country_delete' object.pk %}" class="btn btn-danger">Delete</a></p>
    {% endif %}
{% endblock %}