{% extends 'base.html' %}

{% block content %}
    <h1>Countries</h1>
    {% if perms.country.add_city %}
        <a href="{% url 'country_create' 'new' %}" class="btn btn-lg btn-success" style="margin-bottom: 15px">Add</a>
    {% endif %}
    <table class="table table-hover">
        {% for country in object_list %}
            <tr>
                <td><a href="{% url 'country' country.pk %}">{{ country }}</a></td>
                {% if perms.country.change_country %}
                    <td><a href="{% url 'country_edit' country.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}