{% extends 'base.html' %}

{% block content %}
    <h1>Stores</h1>
    <a href="{% url 'store_edit' 'new' %}" class="btn btn-lg btn-success" style="margin-bottom: 15px">Add</a>
    <table class="table table-hover">
        {% for store in object_list %}
            <tr>
                <td><a href="{% url 'store' store.pk %}">{{ store.name }}</a></td>
                <td><a href="{% url 'store_edit' store.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}