{% extends 'base.html' %}
{% load netstores %}

{% block content %}
    <p><span class="text-muted">Name:</span> {{ object.name }}</p>
    <p><span class="text-muted">Type:</span> <a href="{% url 'type' object.type.pk %}">{{ object.type }}</a></p>
    <p><span class="text-muted">Owner:</span> <a href="{% url 'person' object.owner.pk %}">{{ object.owner }}</a></p>
    <p><span class="text-muted">Sellers:</span>
        {% for sale in object|sales_list %}
            <a href="{% url 'person' sale.pk %}">{{ sale }}</a>,
        {% endfor %}
    </p>
    <p><span class="text-muted">Storages:</span>
        {% for storage in storages %}
            <a href="{% url 'storage' storage.pk %}">{{ storage }}</a>
        {% endfor %}
    </p>
    <p><span class="text-muted">City:</span> <a href="{% url 'city' object.city.pk %}">{{ object.city }}</a></p>
    <p><span class="text-muted">Address:</span> {{ object.address }}</p>
    {% if object.site %}
        <p><span class="text-muted">Site: </span><a href="{{ object.site }}" target="_blank">{{ object.site }}</a></p>
    {% endif %}
    <p><a href="{% url 'store_edit' object.pk %}" class="btn btn-default">Edit</a></p>
    <p><a href="{% url 'store_delete' object.pk %}" class="btn btn-danger">Delete</a></p>
{% endblock %}