{% extends 'base.html' %}
{% load netstores %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% show_form_field_errors field.errors %}
            <div class="row" style="margin-bottom: 15px">
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.id_for_label }}" class="col-md-1 control-label">{{ field.label }}</label>
                    <div class="col-md-4">
                        {{ field }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" class="btn btn-success" value="Save">
                <a href="{% url 'stores' %}" class="btn btn-default">Back to Stores</a>
            </div>
        </div>
    </form>
{% endblock %}