{% load static netstores i18n flatpages cache %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Some title{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
<div id="wrap">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'main_page' %}">netStore</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'persons' %}">{% trans 'persons'|capfirst %}</a></li>
                            <li><a href="{% url 'stores' %}">{% trans 'stores'|capfirst %}</a></li>
                            <li><a href="{% url 'countries' %}">{% trans 'countries'|capfirst %}</a></li>
                            <li><a href="{% url 'cities' %}">{% trans 'cities'|capfirst %}</a></li>
                            <li><a href="{% url 'storages' %}">{% trans 'storages'|capfirst %}</a></li>
                            <li><a href="{% url 'types' %}">{% trans 'types'|capfirst %}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <form class="form-horizontal" action="{% url 'set_language' %}" method="post"
                              style="margin-top: 8px">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}"/>
                            <div class="row">
                                <div class="col-md-9">
                                    <select name="language" class="form-control">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                                    selected="selected"{% endif %}>
                                                {{ language.name_local }} ({{ language.code }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" value="Go" class="btn btn-default"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        {% show_messages %}
        {% block content %}
        {% endblock %}
    </div>
</div>
<footer id="footer">
    {% cache 10800 footer LANGUAGE_CODE %}
        <p class="text-center margin flatpages-flatpage">
            {% get_flatpages as flatpages %}
            {% for page in flatpages %}
                <a href="{% url 'flatpage' url=page.url %}">{{ page.title }}</a>
            {% endfor %}

        </p>
        <div class="container">
            <p class="text-center text-muted" style="padding-top: 20px"> &copy; {% now 'Y' %} {{ author }}</p>
        </div>
    {% endcache %}
</footer>
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}
</body>
</html>